<div class="input-group input-group-lg">

  <form action="/admin/edit-user/<%= @user_entry.id %>" method="POST">

    <div class="form-group form-group-lg">
      <label name="name">
        <input type="text"
          class="form-control input-lg"
            value="<%= @user_entry.name %>"
              name="name"
                aria-describedby="sizing-addon1"
                  placeholder="Name"
          >
        </label>
        <br>
      </div>

    <div class="form-group">
      <label name="username">
        <input type="text"
          class="form-control input-lg"
            value="<%= @user_entry.username %>"
              name="username"
                placeholder="Username"
        >
      </label>
      <br>
    </div>

    <div class="form-group">
      <label name="email">
        <input type="email"
          class="form-control input-lg"
            value="<%= @user_entry.email %>"
              placeholder="Email"
                name="email"
                  aria-describedby="sizing-addon1"
         >
       </label>
       <br>
    </div>

    <div class="form-group">
      <label name="facebook_url">
        <input type="text"
          class="form-control input-lg"
            value="<%= @user_entry.facebook_url %>"
              placeholder="Your Facebook Profile Link"
                name="facebook_url"
                  aria-describedby="sizing-addon1"
         >
       </label>
       <br>
     </div>

    <div class="form-group">
      <label name="twitter_url">
        <input type="text"
          name="twitter_url"
            class="form-control input-lg"
              value="<%= @user_entry.twitter_url %>"
                placeholder="Your Twitter Profile Link"
                  aria-describedby="sizing-addon1"
         >
        </label>
        <br>
      </div>

    <div class="form-group">
      <label name="instagram_url">
        <input type="text"
          name="instagram_url"
            class="form-control input-lg"
              value="<%= @user_entry.instagram_url %>"
                placeholder="Your Instagram Profile Link"
                  aria-describedby="sizing-addon1"
        >
      </label>
      <br>
    </div>

    <div class="form-group">
      <label name="about_me">
        <textarea name="about_me"
          class="form-control input-lg">
            <% if @user_entry.about_me == nil ||  @user_entry.about_me == "" %>
              <%= "About Me" %>
            <% else %>
              <%= @user_entry.about_me %>
            <% end %>
          </textarea>
        </label>
        <br>
    </div>

    <div class="form-group">
      <label name="submit">
        <input type="submit"
          value="Submit"
            class="btn btn-default"
        >
      </label>
    </div>

    </form>
  </div>

  <strong>
    <%= @user_entry.name %> Submitted Listings:
  </strong>

  <p></p>

  <% @listings = @user_entry.listings %>

    <% @listings.all.each do |listing| %>
      <strong>Listing Name:</strong>
        <%= listing.name %>
      <br>
      <strong>Listing Created On:</strong>
        <%= listing.created_at %>
      <br>
      <a href="/admin/edit-listing/<%= listing.id %>">View/Edit Listing</a>
      <br><br>
    <% end %>
