
<h2 id="page-title">Welcome, <%= current_user.username %>!</h2>

<a href="/users/user_update">Update Your Profile</a> | <a href="/logout">Log Out</a> | <a href="/listings">Explore Listings</a>

<br><br>

<h3>Your Listings</h3>

<br>

<% @listings = current_user.listings %>
  <% @listings.all.each do |listing| %>

    <div class="col-md-12 item-listing">

      <img src="
        <% if listing.img_url == nil || listing.img_url == ""%>
          <%= "/images/default_listing_img.png" %>
        <% else %>
          <%= listing.img_url %>
        <% end %>"
          class="img-thumbnail"
            alt="Yom Kef"
              align="left"
                width="120"
       >

       <strong>
         <h4><%= listing.name %></h4>
       </strong>
       <a href="/listings/edit/<%= listing.id %>">
          + Edit Listing
       </a>

       <br><br>

       <strong>Location:</strong>
        <%= listing.location %>
        <br>

        <strong>URL:</strong>
          <a href="<%= listing.url %>"
            target="_blank">
              <%= listing.url %>
          </a>
          <br>

        <strong>Category:</strong>
          <%= listing.item_category %>
        <br>

        <strong>Description:</strong>
          <%= listing.description %>
        <br>

    </div>
  <% end %>
